/* Dark Red: #AD1800 | Red: #F5202A | Gold: #F7D723 */

/* Menu CSS */
.menu table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7D723;
}
.menu td {
    padding: 5px;
    border: none;
}
.menu a {
    font-size: 18px;
}

/* Main CSS */
body {
    padding: 50px;
    font-family: sans-serif;
}
a:link {
    color: #F5202A;
    text-decoration: none;
}
a:visited {
    color: #AD1800;
    text-decoration: none;
}
a:hover {
    color: #FF5148;
}
a:active {
    color: #AD1800;
    text-decoration: none;
}
.cclicense {
    text-align: center;
}
h2 {
    text-align:center;
}
div.menu ul {
    list-style-type: none;
}
.thanks ul {
    list-style-type: circle;
}